*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color-default: #212529;
    --primary-hue: 0;
    --primary-saturation: 84%;
    --primary-lightness: 44%;
    --color-primary: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
    --color-secondary: #37373f;
    --color-tertiary: #7f7f90;
    --light-hue: 0;
    --light-saturation: 0%;
    --light-lightness: 100%;
    --color-light: hsl(var(--light-hue), var(--light-saturation), var(--light-lightness));
    --color-light-grey: #eee;
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --animation-duration: 400ms;
}

:root:has(#mode:checked) {
    --primary-hue: 35;
    --primary-lightness: 44%;
    --primary-saturation: 72%;
    --light-hue: 0;
    --light-saturation: 0%;
    --light-lightness: 9%;
    --color-default: #fff;
    --color-secondary: #fff;
    --color-tertiary: #9f9f9f;
    --color-light-grey: #252525;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
    color: var(--color-default);
    font-family: var(--font-default);
}

:root:has(#mode:checked) body {
    background-color: #202020;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}

/* End Scroll Bar */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.btn-main {
    display: inline-block;
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    border-radius: 0px 100px 100px;
    color: var(--color-light-grey);

    --hover-bg-color: hsl(var(--primary-hue),
            var(--primary-saturation),
            calc(var(--primary-lightness) + 5%));
    --hover-color: var(var(--color-light));
    transition: all var(--animation-duration);
}

.btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--color-light);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.bg-section {
    background-color: var(--color-light-grey);
}

/* Navbar */
.navbar {
    border-bottom: 1px solid var(--color-light-grey);
    background-color: var(--color-light);
    color: var(--color-default);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo h2 {
    font-size: 30px;
    color: var(--color-default);
    font-weight: bold;
    position: relative;

}

.logo h2::after {
    content: ".";
    color: var(--color-primary);

}

.navbar label {
    padding: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-links {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all var(--animation-duration);
    background-color: var(--color-light);
    border-left: 1px solid var(--color-light-grey);
    z-index: 999;
}

@media screen and (min-width:768px) {
    .nav-links {
        height: auto;
    }
}


.nav-links li a {
    display: block;
    padding: 1rem 1.8rem;
    color: var(--color-tertiary);
    width: 100%;
}



.nav-links li a.active,
.nav-links li a:hover {
    color: var(--color-default);
}

label[for=toggle].close-links {
    color: var(--color-default);
    margin-left: auto;
}


/* Start toggle nav-links */
input#toggle {
    display: none;
}

input#toggle:checked~.nav-links {
    left: 20%;
}

/* End toggle nav-links */

/* Start Switch mode button */

input[type=checkbox]#mode {
    display: none;
}

.mode {
    font-size: 20px;
    color: var(--color-default);
}

.mode label {
    cursor: pointer;
}

input#mode:checked~.switch .dark-icon {
    display: none;
}

input#mode:not(:checked)~.switch .light-icon {
    display: none;
}

/* End Switch button */
/* navbar media */
@media screen and (min-width:768px) {
    label[for=toggle] {
        display: none;
    }

    .nav-links {
        position: static;
        flex-direction: row;
        border: none;
        transition: none;
    }

    .nav-links li a {
        width: fit-content;
        position: relative;
        overflow: hidden;
        margin: 1rem;
        padding: 0.5rem;
    }

    .nav-links li a::after {
        content: "";
        background-color: var(--color-primary);
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: -100%;
        transition: all var(--animation-duration);
    }


    .nav-links li a:hover::after,
    .nav-links li a.active::after {
        left: 0;
    }
}


/* header */
.header {
    min-height: 100vh;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .image {
    order: -1;
}

.header .image:hover {
    animation: shake 1s infinite;
}

.header-content h2 {
    font-size: 4rem;
    color: var(--color-default);
    font-family: var(--font-primary);
}

.header-content p {
    font-size: 1rem;
    color: var(--color-default);
    line-height: 1.6;
    margin: 20px 0px;
}

.header-content .actions {
    flex-direction: column;
    gap: 2.5rem;
}

.video-btn {
    color: var(--color-default);
    font-weight: 600;
    transition: color var(--animation-duration);
}

.video-btn:hover {
    color: var(--color-primary);

}

.video-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.video-btn .icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: var(--color-light);
    border-radius: 50%;
}

.video-btn .icon i {
    z-index: 5;
}

@media screen and (min-width:768px) {
    .header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .header .image {
        order: 0;
        width: 40%;
    }

    .header-content {
        width: 40%;
        text-align: start;
    }

    .header-content .actions {
        flex-direction: row;
        gap: 2.5rem;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }

}

/* chefs section */
.chefs {
    background-color: hsl(var(--light-hue), var(--light-saturation), calc(var(--light-lightness)+2));
}

.main-title {
    text-align: center;
}

.main-title h2 {
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 1rem;
}

.main-title p {
    font-family: var(--font-primary);
    font-size: 3.5rem;
}

.main-title p span {
    color: var(--color-primary);
}

.chefs-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.chefs-cards .card {
    padding: 0.5rem;
    width: 100%;

}

.chefs-cards .card .inner {
    background-color: var(--color-light);
    position: relative;
    overflow: hidden;
    transition: transform var(--animation-duration);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.chefs-cards .card .inner:hover {
    transform: scale(1.07);
}

.chefs-cards .card .image {
    position: relative;
}

.chefs-cards .card .image::after {
    content: "";
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 3.75rem;
    position: absolute;
    bottom: -1px;
    left: 0;
}

:root:has(#mode:checked) .chefs-cards .card .image::after {
    background-image: url(../images/team-shape-dark.svg);
}

.chefs-cards .card .card-content {
    padding: 0.4rem 2rem 2rem;
    text-align: center;
}

.chefs-cards .card .card-content h3 {
    font-family: var(--font-secondary);
}

.chefs-cards .card .card-content span {
    display: block;
    font-size: 0.8rem;
    color: var(--color-tertiary);
    margin-bottom: 1rem;
}

.chefs-cards .card .card-content p {
    font-size: 1rem;
    font-style: italic;
    color: var(--color-tertiary);
}



.chefs-cards .card .social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff4d;
    padding: 0.8rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 2rem;
    right: 0;
    transform: translateX(100%);
    transition: transform var(--animation-duration) var(--animation-duration);

}

.chefs-cards .card:hover .social-box {
    transform: translateX(-20%);

}

.chefs-cards .card .social-box i {
    font-size: 1.125rem;
    padding: 1rem 0.5rem;
    color: #37373f66;
    transition: color var(--animation-duration);

}

.chefs-cards .card .social-box i:hover {
    color: rgba(55, 55, 63, 0.902);
}

/* gallery section */
.gallery-images {
    padding: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

@media screen and (min-width:768px) {
    .gallery-images {
        height: 60rem;
    }
}

/* lg */
@media screen and (min-width:1024px) {
    .gallery-images {
        height: 70rem;
    }
}

.gallery-images .image {
    padding: 10px;
}

.gallery-images .image .inner {
    width: 100%;
    position: relative;
    border: 5px solid #fff;
    overflow: hidden;
}

.gallery-images .image .inner img {
    transition: scale var(--animation-duration);
}

.gallery-images .image .inner .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 2;

    width: 100%;
    height: 100%;
    background-color: #00000096;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    transition: top var(--animation-duration);
}

.gallery-images .image .inner .overlay p {
    color: #ddd;
    text-align: center;
}

.gallery-images .image .inner:hover .overlay {
    top: 0%;
}

.gallery-images .image .inner:hover img {
    scale: 1.1;
}

/* map section  */
.map {
    padding: 10px 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --gap: 10px;
    gap: var(--gap);
    padding: 2rem 0;
}

.info-group {
    width: 100%;
}

@media screen and (min-width:768px) {
    .info-group {
        width: calc(50% - var(--gap));
    }
}

.info-group .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: hsl(var(--light-hue),
            var(--light-saturation),
            calc(var(--light-lightness) - 4%));
    width: 100%;
}

.info-group .inner .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-radius: 50%;

}

.info-group .inner .info-datails h3 {
    color: #adadad;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.info-group .inner .info-datails p {
    font-family: var(--font-default);
    color: var(--color-default);
}

.form-container {
    background-color: var(--color-light);
    box-shadow: 0 0 2rem #00000014;
    padding: 2rem;
}

.form-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    --gap: 0.8rem;
    gap: var(--gap);
}

.form-container form .input-group {
    width: 100%;
}

@media screen and (min-width:768px) {
    .form-container form .input-group {
        width: calc(50% - var(--gap));
    }
}

.form-container form input,
.form-container form textarea {
    width: 100%;
    display: block;
    padding: 1rem;
    font-family: var(--font-default);
    line-height: 1.5;
    border: 2px solid hsl(var(--light-hue),
            calc(var(--light-saturation) + 10%),
            calc(var(--light-lightness) - 10%));
    transition: border-color var(--animation-duration);
    color: #212529;
}

.form-container form textarea {
    min-height: 10rem;
    max-height: 18.75rem;
    resize: vertical;
}

.form-container form input:focus,
.form-container form textarea:focus {
    outline: none;
    border-color: var(--color-primary);
}

#send-btn {
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border-radius: 100px;
    border: none;
}

/* Footer */
.footer {
    background-image: url(../images/textured-metal-background.jpg);
    color: #fff;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    --gap: 20px;
    gap: var(--gap);
}

/* About Footer */
.footer-content .about {
    width: 100%;
}

.footer-content .about .logo {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}


.footer .logo h2 {
    color: #fff;
}

.footer-content .about .logo img {
    width: 2.25rem;
    height: 2.25rem;
}

.footer-content .about p {
    margin: 0.5rem 0;
}

.footer-content .about h3 {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 2px solid #ddd6;
    margin-bottom: 0.5rem;
}

.footer-content .about .social-links {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.footer-content .about .social-links i {
    font-size: 1.5rem;
    color: #fff;
}

/* footer subscription  */

.footer-content .subscribe {
    padding: 0.5rem;
    width: 100%;
}

.footer-content .subscribe p {
    margin: 0.5rem 0;
}


.footer-content .subscription-group {
    display: flex;
    gap: 10px;
    margin: 1.25rem 0;
}

.footer-content .subscription-group input {
    flex-grow: 1;
    padding: 1rem;
    border: none;
}

.footer-content .subscription-group input:focus {
    outline: none;
}

.footer-content .subscription-group button {
    border-radius: 0;
    padding: 0.5rem;
    min-width: 6.875rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.footer-content .quick-links ul {
    display: flex;
    flex-wrap: wrap;
    --gap: 1.25rem;
    column-gap: var(--gap);
    padding: 10px 0px;
}

.footer-content .quick-links ul li {
    width: calc(calc(100% - var(--gap)) / 2);
    padding: 5px;
    transition: transform var(--animation-duration), background-color var(--animation-duration);
}

.footer-content .quick-links ul li a {
    color: inherit;
    width: 100%;
}

.footer-content .quick-links ul li:hover {
    transform: translateX(10px);
    background-color: #222;
}

/* contact datails */
.footer-content .contact-details {
    width: 100%;

}

.footer-content .contact-details h3 {
    margin-bottom: 10px;
}

.footer-content .contact-details ul li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
}

.footer-content .contact-details ul li a {
    color: #fff;
}

.footer-content .contact-details ul li i {
    color: var(--color-primary);
}

@media screen and (min-width:768px) {
    .footer-content .subscribe {
        flex: 2 1;
    }

    .footer-content .about,
    .footer-content .contact-details {
        flex: 1 1;
    }
}